.profile-photos {
  height: 700px;
  width: 800px;
  border: 1px solid black;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgb(32, 31, 31);
}


.upload-fotos {
  background: #FD3A73;
  padding: 10px;
  border: 0;
  color: aliceblue;
  font-weight: 700;
}

.upload-fotos:hover {
  background: #fc185c;


}


.log {
  background-color: #FD3A73;
  display: inline-block;
  padding: 5px 20px;
  margin-left: 30px;
  color: aliceblue;
}

.log:hover {
  background-color: #fc185c;
}